* {
    padding: 0;
    margin: 0;
}
#content {
    background-color: black;
    border: 2px solid black;
}

a {
   
margin-right: 200px;
    color: red;
}
.contentbox  {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
  margin-right: 50px;
 
    
}
#class {
    height: 500px;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
}
